.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.Container {
  background-color: #ffffff;
  color: black;
  height: 100vh;
  aspect-ratio: 9 / 16;             
  align-items: center;
  justify-content: center;
  position: relative;
}

.Container h1 {
  font-size : 1.8rem;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}

.Mon-bouton {
  position: absolute;  

  margin-right: 10px;
  margin-bottom: 100px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  font-size : 2rem;
  border: none;
}

.Mon-bouton:hover {
  filter: brightness(0.95) saturate(95%);/* Il devient bleu-gris foncé au survol */
  transform: scale(1.1);
}
