.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.Container {
  background-color: #ffffff;
  color: black;
  height: 90vh; 
  max-height: 800px;
  aspect-ratio: 9 / 16;             
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto; 
  border-radius: 20px; 
  overflow: hidden;
}

.Container h1 {
  font-size : 1.8rem;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}

.Mon-bouton {
  position: absolute;  
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: white;
  font-size : 1.6rem;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Mon-bouton:hover {
  filter: brightness(0.95) saturate(95%);
  transform: scale(1.1);
}

.Compteur {
  position: absolute;
  top: 14%;
  right: 8%;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 12px;
  border-radius: 15px;
  font-size: 0.9rem;
}

.Music-Card {
  position : relative;
  width: 60%;
  height: 30%; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  margin-top: 16%; 
}

.Music-Info {
  width: 100%;       /* Prend toute la largeur interne de la carte */
  overflow: hidden;  /* 👈 CRUCIAL : C'est ici qu'on coupe ce qui dépasse */
  white-space: nowrap; 
  position: relative;
  margin-top: 10px;  /* Espace sous l'image */
}

.Music-Info h2 { 
  overflow: hidden; /* Cache le texte qui sort du cadre */
  white-space: nowrap; /* Empêche le texte d'aller à la ligne */
  margin: 0; 
  font-size: 1.4rem; 
  display: inline-block;
  animation: defilement-spotify 20s linear infinite;}

.Music-Info p { color: #666; margin : 0; font-size: 1.1rem;}

@keyframes defilement-spotify {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.Bouton-Terminer {
  position: absolute;
  left : 50%;
  transform: translateX(-50%); /*on centre*/
  width: 180px; 
  height: 35px;  
  border-radius: 20px; 
  background-color: transparent; 
  color: #24292e; 
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 0.85rem;
  border: 1px solid #24292e;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s;
}
.Bouton-Terminer:hover {
  filter: brightness(0.95) saturate(95%);
  transform: translateX(-50%) scale(1.1);
}

.Bouton-Start{
  position: absolute;
  top :53%;
  left :50%;
  transform: translateX(-50%); /*on centre*/
  width: 30%; 
  height: 7%; 
  border-radius: 15px; 
  background-color: black; 
  color: white; 
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 0.85rem;
  border: 1px solid #24292e;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s;
}

.Bouton-Start:hover {
  filter: brightness(0.95) saturate(95%);
  transform: translateX(-50%) scale(1.1);
}

.Title{
  position: absolute;
  top : 35%;
  height : 20%;
  color :#492f72;
  font-family: 'Brush Script MT';
  font-size: 6rem;
  font-weight: bold;
}

.horizontal-scroll {
  position : absolute;
  top : 5%;
  left : 0;
  display: flex;
  width: 100%;
  height: 30%;
  overflow: hidden;      
  position: relative;
  gap: 5%;
}

.horizontal-scroll-bis {
  position : absolute;
  top : 35%;
  right : 0;
  display: flex;
  width: 100%;
  height: 30%;
  overflow: hidden;      
  position: relative;
  gap: 5%;
}


.horizontal-scroll-item {
  flex-shrink: 0;      
  height: 100%;
  width: 50%;          
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  animation-name: infiniteScroll;  
  animation-duration: 30s; 
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.horizontal-scroll-item-bis {
  flex-shrink: 0;      
  height: 100%;
  width: 50%;          
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  animation-name: infiniteScroll-bis;  
  animation-duration: 30s; 
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes infiniteScroll {
	from {transform: translateX(0) }
	to {transform: translateX(calc(0px - 550%));}
}
@keyframes infiniteScroll-bis {
	from {transform: translateX(calc(0px - 550%)) }
	to {transform: translateX(0);}
}

.item-1 {
  background-image: url("https://static.qobuz.com/images/covers/63/82/0634904078263_org.jpg");
}

.item-2 {
  background-image: url("https://static.qobuz.com/images/covers/dc/dw/diw20eg0udwdc_org.jpg");
}

.item-3 {
  background-image: url("https://static.qobuz.com/images/covers/0a/qo/r72kxg9ifqo0a_org.jpg");
}

.item-4 {
  background-image: url("https://static.qobuz.com/images/covers/da/bt/lsre70zcubtda_org.jpg");
}

.item-5 {
  background-image: url("https://static.qobuz.com/images/covers/fb/5f/lbfmigsz25ffb_org.jpg");
}

.item-6 {
  background-image: url("https://static.qobuz.com/images/covers/1a/yo/j4b9vhzp8yo1a_org.jpg");
}

.item-7 {
  background-image: url("https://static.qobuz.com/images/covers/44/80/0190295978044_org.jpg");
}

.item-8 {
  background-image: url("https://static.qobuz.com/images/covers/ca/so/pqhhevy01soca_org.jpg");
}

.item-9 {
  background-image: url("https://static.qobuz.com/images/covers/34/06/3700368460634_org.jpg");
}

.item-10 {
  background-image: url("https://static.qobuz.com/images/covers/xa/77/szepb9zpw77xa_org.jpg");
}
